<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.mit.discoverme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    
      <!--  (culim) Map View Stuff -->
	
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".GDDiscoverMeActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <uses-library android:name="com.google.android.maps"  />
	
        
        	<activity android:name=".MapTestActivity" 
        	    android:label="HelloGmaps"
     			android:theme="@android:style/Theme.NoTitleBar"/>
        
        <activity
        	android:name=".EventsActivity"
         	android:label="EventsActivityLabel"/>
        
         <activity
        	android:name=".PopupListActivity"
         	android:label="FriendsListActivityLabel"
         	android:theme="@android:style/Theme.Black.NoTitleBar"/>
         <activity
        	android:name=".ProfileActivity"
         	android:label="ProfileActivityLabel"
         	android:theme="@android:style/Theme.Black.NoTitleBar"/>
         <activity
        	android:name=".DialogBoxActivity"
         	android:label="Example Dialog Box"/>
         
         <activity
        	android:name=".CreateEventActivity"
         	android:label="Create An Event"
         	android:theme="@android:style/Theme.Black.NoTitleBar"/>
         
         <activity
        	android:name=".ParticipantListingActivity"
         	android:label="Select participants"
         	android:theme="@android:style/Theme.Black.NoTitleBar"/>
        
        
         <activity
        	android:name=".EthanActivity"
         	android:label="Ethan's First Activity"/>
        
        <activity
        	android:name=".InfoTabActivity"
         	android:label="@string/general_info_label"/>
        <activity android:name=".WebContentActivity" />
        <activity android:name=".AboutActivity" />
        
        
        <activity android:name=".BasicItemActivity" />
        <activity android:name=".XmlItemActivity" />
        	
            
        <activity android:name=".SegmentedActivity" />
		<activity android:name=".ActionBarActivity" />
        <activity android:name=".TabbedActionBarActivity" />
        <activity android:name=".TabbedActionBarActivity$FakeActivity" />
        	
        <activity android:name=".QuickActionActivity" />
        <activity android:name=".SimpleAsyncImageViewActivity" />
		<activity android:name=".AsyncImageViewListActivity" />
		
		<activity android:name=".MapPinMapActivity" />
		<activity android:name=".PagedScrollViewActivity" />
		<activity android:name=".PagedViewActivity" />
    </application>

</manifest>